@media (min-width: 320px) {
    .header-a {
        position: relative;
        display: flex;
        justify-content: space-between;
        background-color: #FFF;
        border-bottom: 1px solid #D9FFF5;
        padding: 18.6px 16px;
    }

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .header-a__left {
        display: flex;
    }

    .header-a__right {
        align-self: center;
    }

    .call,
    .chat,
    .profile {
        display: none;
    }

    .header-a__list {
        display: flex;
        align-self: center;
    }

    .burger {
        align-self: center;
        margin-right: 16px;
    }


    .logo::after {
        content: '';
        width: 2px;
        height: 32px;
        position: absolute;
        top: 28px;
        left: 186px;
        background-image: url(../assets/icon/divider.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .repair {
        margin-right: 16px;
    }

    .body-a__container {
        padding-top: 24px;
        padding-left: 16px;
    }

    .title-menu::before {
        content: '';
        position: absolute;
        top: 112px;
        left: 0px;
        background-image: url(../assets/icon/highlight.svg);
        width: 4px;
        height: 40px;
    }

    .title-menu {
        font-size: 28px;
        color: #1B1C21;
        margin-bottom: 24px;
        line-height: 40px;
        letter-spacing: -0.6px;
    }

    .body-a__list {
        display: none;
    }

    .tabs-nav {
        display: flex;
        overflow-x: auto;
        margin-bottom: 24px;
    }

    ::-webkit-scrollbar {
        display: none;
      }

    .tabs-nav__items {
        display: flex;
        flex-wrap: nowrap;
        align-self: center;
        white-space: nowrap;
        background-color: transparent;
        margin-right: 1px;
    }

    .tabs-nav__btn {
        color: #7E7E82;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        padding: 8px 16px;
        font-weight: 500;
    }

    .tabs-nav__btn_active {
        background-color: #FFFFFF;
        outline: 2px solid rgba(184, 255, 236, 1);
        outline-offset: -2px;
        border-radius: 6px;
    }

    .body-b__text {
        color: #1B1C21;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        padding: 0px 16px;
        margin-bottom: 16px;
        text-align: left;
    }

    .body-b__text-a {
        display: none;
    }

    .body-b__text-b {
        display: none;
    }
    
    .body-b__link {
        display: inline-flex;
        align-items: center;
        color: #1B1C21;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        font-weight: 500;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    .body-b__link-text {
        padding-left: 8px;
    }

    .body-b__img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 768px) {

    .header-a {
        padding-left: 24px;
        padding-right: 24px;
      }
      
    .burger {
        margin-right: 42px;
    }

    .call,
    .chat,
    .profile {
        display: flex;
    }

    .call,
    .chat {
        margin-right: 16px;
    }
    
    
    .profile {
        margin-right: 42px;
    }

    .repair::after {
        content: '';
        width: 2px;
        height: 32px;
        position: absolute;
        top: 28px;
        right: 140px;
        background-image: url(../assets/icon/divider.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .logo::after {
        left: 84px;
    }
    .title-menu {
        margin-bottom: 32px;
    }

    .body-a__list {
        display: none;
    }

    .tabs-nav {
        margin-bottom: 40px;
    }

    .body-b {
        display: flex;
        justify-content: space-between;
        padding: 0px 24px;
    }

    .body-b__content {
        max-width: 44vw;
        padding: 0;
      }

    .body-b__text {
        padding: 0px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .body-b__text-a {
        display: block;
    }

    .body-b__text-b {
        display: none;
    }

    .body-b__img {
        width: 46vw;
        height: 100%;
        border-radius: 5px;
    }
}

@media (min-width: 1120px) {
    .header-a {
        display: none;
    }
    .title-menu::before {
        top: 42px;
    }

    .title-menu {
        margin-bottom: 8px;

    }
    .body-a__container-top {
        display: flex;
        justify-content: space-between;
    }

    .body-a__list {
        display: flex;

    }

    .body-a__items {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .text-icon {
        padding-right: 8px;
        font-weight: 500;
    }

    .text-icon:hover {
        color: rgba(255, 62, 121, 1);;
    }
    
    .icon {
        padding: 0px;
    }

    .repair-a {
        margin-right: 32px;
    }

    .body-a__container {
        padding-top: 42px;
        padding-left: 33px;
        padding-right: 31px;
    }

    .tabs-nav {
        flex-wrap: wrap;
    }

    .tabs-nav:last-child {
        margin-bottom: 16px;
    }

    .body-b__text-a {
        display: none;
    }

    .body-b__text-b {
        display: block;
    }

    .body-b__img {
        height: 100%;
        width: 47vw;
    }
}
