@media (min-width: 768px) {

    .header-a {
        padding-left: 24px;
        padding-right: 24px;
      }

    .header-a__list_hidden {
        display: flex;
    }

    .hidden-divider-m {
        display: none;
    }

    .hidden-divider {
        display: flex;
        margin: 0 4px;
    }

    .title-menu {
        margin-bottom: 32px;
    }

    .body-a__list {
        display: none;
    }

    .tabs-nav {
        margin-bottom: 40px;
    }

    .body-b {
        display: flex;
        justify-content: space-between;
        padding: 0px 24px;
    }

    .body-b__content {
        max-width: 44vw;
        padding: 0;
      }

    .body-b__text {
        padding: 0px;
        line-height: 20px;
        margin-bottom: 10px;
    }

    .body-b__text-a {
        display: block;
    }

    .body-b__text-b {
        display: none;
    }

    .body-b__img {
        width: 46vw;
        height: 100%;
        border-radius: 5px;
    }
}


@media (min-width: 1120px) {
    .header-a {
        display: none;
    }
    .title-menu::before {
        top: 42px;
    }

    .title-menu {
        margin-bottom: 8px;

    }
    .body-a__container-top {
        display: flex;
        justify-content: space-between;
    }

    .body-a__list {
        display: flex;

    }

    .body-a__items {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .text-icon {
        padding-right: 8px;
        font-weight: 500;
    }

    .text-icon:hover {
        color: rgba(255, 62, 121, 1);;
    }
    
    .icon {
        padding: 0px;
    }

    .repair-a {
        margin-right: 32px;
    }

    .body-a__container {
        padding-top: 42px;
        padding-left: 33px;
        padding-right: 31px;
    }

    .tabs-nav {
        flex-wrap: wrap;
    }

    .tabs-nav:last-child {
        margin-bottom: 16px;
    }

    .body-b__text-a {
        display: none;
    }

    .body-b__text-b {
        display: block;
    }

    .body-b__img {
        height: 100%;
        width: 47vw;
    }
}
